body{
    margin-left: 30%;
    background-image: url(imc.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container{
    width: 500px;
    height: 420px;
    margin-left: -205px; 
    margin-top: -230px; 
    position: absolute;
    top: 50%;
    left: 47%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.5);
    box-shadow: 0 3px 9px black;
}

.botao{
    margin-left: 165px;
}

.btn-group{
    margin-left: 77px;
}

.alerta{
    margin-left: 140px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 210%;
    font-weight: lighter
}