body{
    margin-left: 30%;
    background-image: url(imc.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.conteudo{
    width: 500px;
    height: 420px;
    margin-left: -205px; 
    margin-top: -230px; 
    position: absolute;
    top: 50%;
    left: 47%;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.3)
}

.botao{
    margin-left: 165px;
}

.inputs{
    margin-left: 77px;
}

.alerta{
    margin-left: 140px;
}